@import '~antd/dist/antd.css';

$breakPoint: 80em;


.has-button .ant-card-extra {
    padding: 9.5px 0;
}
.ant-btn{
    margin-right: 8px;
}
.ant-card{
    margin-bottom:10px;
}

body{
    padding:0;
    margin:0;
    background: #fff;  
}

/** MOBILE FIRST FONT SIZES **/
html{font-size:100%;} 
@media(min-width: $breakPoint){html{font-size: 100%}}
body{font-size: 16px;}
p, label{font-size:150%;line-height:1.5em;}
label{font-weight: 700}
h1{font-size: 250%}
h2{font-size: 220%}
h3{font-size: 190%}
h4{font-size: 160%}

/* chart tests */
.rv-xy-plot path{
    fill: none;
} 
.main-chart{
    label{
        color: #333
    }
    .line-chart{
        text{
            stroke: #444 !important;
            font-size: 100%;
        }

        .chart-line{
            stroke-width: 5px;
            opacity: .3 !important;
            transition: .75s opacity;
            &.selected{
                stroke-width: 9px !important;
                opacity: 1 !important;
            }
        }

        .paris-accord{
            stroke:#ffa400 !important;
        }

        .preindustrial{
            stroke:#16591f !important;
        }

        .adjusted-temp-increase{
            stroke:#3366cc !important;
            stroke-width: 7px;
        }
    }

}
.impact-chart{
    margin:0 auto;
    display: block;
    text-align: center;
    .ant-radio-button-wrapper{
        padding-left: 12px !important;
        padding-right: 12px !important;
        position: relative;
        text-transform: none;

        .swatch{
            height: 11px;
            width: 20px;
            display: inline-block;
            margin-top: 14px;
            position: absolute;
        }

        .rdo-btn-label{
            margin-left:25px;
        }
    }
}

@keyframes chartLine {
    0%   {
        stroke-width: 7px !important;
        opacity: .5 !important;
    }
    25%  {
        stroke-width: 9px !important;
        opacity: .7 !important;
    }
    50%  {
        stroke-width: 12px !important;
        opacity: .9 !important;
    }
    100% {
        stroke-width: 9px !important;
        opacity: 1 !important;
    }
}

.rv-discrete-color-legend {
    width:100%;
    display: block;
    height:40px;
    text-align: center;
    cursor: pointer;
    .rv-discrete-color-legend-item{
  
        display: inline-block;
        font-size: 155%;
        padding: 9px 10px;
        color: #444;
        margin-left: 5px;

        .rv-discrete-color-legend-item__color {
            display: inline-block;
            height: 6px;
            vertical-align: middle;
            width: 36px;
            margin-right: 7px;
            margin-top: -6px;  
            transition: .5s height;          
        }

        &.selected, &:hover{
            font-weight: bold;
            padding: 9px 5px;
            background: rgba(192, 224, 252, 0.26);
            .rv-discrete-color-legend-item__color {
                height: 15px !important;    
                margin-top: -7px;            
            }
        }

        
    }
}
 
  

.loginForm{
    display: flex;
}


/** MAIN GAME STYLES **/
.game-wrapper{
    .banner{
        display: flex;
        align-items: center;
        justify-content: center;
        height:100vh;
        background: rgba(0,0,0,.2);
        h1{
            font-size: 4em;
            color:white;
            text-align: center;
        }
    }
    .bottom-arrow{
        position: absolute;
        font-size: 5em;
        top: 79vh;
        color: white;
    }
    .home-content{
        padding-top:20px;
        background: white;
    }
    .role-selection{
        svg{
            margin:10px auto;
            display: block;
            max-width:400px;
        }
        .ant-row-flex{
            margin-bottom:45px;
        }
    }
}

@mixin buttonStyles{
    text-transform: uppercase;
    padding:0 2em;
    height:3.2em;
    font-weight: 600;

}
.ant-radio-button-wrapper{
    @include buttonStyles();   
}
.game-button{
   @include buttonStyles();
   border: solid 2px black;
   color: black;
   &:hover, &:focus {
        color: #fff;
        background-color: #000;
        border-color: #000;
    }
    &.block{
        display: block;
        margin:5px auto;
    }
    &.title-case{
        text-transform: none;
    }
}

.form-wrapper{
    padding:10px 25px;
    margin-bottom:25px;
    h1,h2,h3,h4,h5{
        text-align: center;
        padding:15px
    }
    &:nth-of-type(even){
        background: rgba(240, 240, 255, 0.26);
    }
}

@media(max-width: $breakPoint){
    body{
        font-size: 1.2em;
    }
    label:not(.ant-radio-button-wrapper):not(.ant-radio-wrapper){
        margin: 40px 0 20px !important;
        font-size: 200% !important;
        display: block !important;
    }

    .ant-radio-wrapper{
        display: block;
        margin: 15px 0 0px !important;
        font-size: 150% !important;
        padding-left: 23px;
        .ant-radio{
            margin-top: 4px;
            margin-left:-23px;
            position: absolute;
        }
        .ant-radio-inner {
            width: 26px;
            height: 26px;
            &:after {   
                width: 18px;
                height: 18px;
                border-radius: 50%;
            }            
        }
    }
    .ant-radio-button-wrapper{
        font-size: 2.3em !important;
        height: auto !important;
        padding: .5em 1em !important;
    }
    .game-button, .ant-radio-button-wrapper{
        font-size: 120%;
        &.block{
            width:100%;
        }
    }

    
    /* MOBILE OVERRIDES FOR ANTD SELECT ELEMENT READABILITY */
    .ant-select-selection{
        font-size: 2.5em;
        height: 70px;
    }
    .ant-select-selection__placeholder, .ant-select-selection__rendered{
        height: 44px;
        line-height: normal;
    }
    .ant-select-selection-selected-value{
        margin-top:9px;
    }
    .ant-select-dropdown-menu-item{
        font-size:2.5em;
        padding: 12px;
        line-height: 2.5em;
    }
    .ant-select-dropdown-menu{
        max-height: 50vh !important;
    }
    .ant-alert{
        font-size: 1.5em;
    }

    .ant-slider-mark-text {
        font-size: 220%;
    }

}

.tempTracker {
    font-size: 1.5em;
    position: fixed;
    right: 0;
    width: 100%;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid #5b5fbf;
    top: -1px;
    height: 60px;
    overflow: hidden;
    z-index: 9999;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.9);
    text-align: center;
    color: #505050;
    padding-top: 8px;
    >div >span{
        margin-left:3px;
        margin-right:20px;
    }
    .ant-button{
        position: absolute !important;
        top: 10px !important;
        right: 3px !important;
    }

    .chart{
        display: none;
    }

    &.show{
        .chart{
            display: "block";
        }
    }
}
.waves{
    &::after{
        right: 0;
        height: 20vh;
        border-radius: 50%;
        position: fixed;
        content: '';
        animation: growUp 2s;
        width: 100%;
        margin-top: -55px;
        animation-fill-mode: forwards;
        z-index: 99999;
        background: blue;    
    }   
}
@keyframes growUp {
    0%  { transform: scale(0); opacity: 1;}
    100% { transform: scale(2); opacity: 0; }
}
.deal-list{
    background: rgba(255, 255, 255, 0.95);
    display: table;
    padding-left:0;
    li{
        display: table-row;
        >div{
            display: table-cell;
            vertical-align: middle;
            padding:10px;
            &:first-child{
                padding: 15px;
            }
            >.anticon {
                font-size:10em;
                color: rgba(51, 128, 230, 0.25);
            }
            >h3, >p{
                text-align: left;
                color: #333;
            }
        }
    }
}

.state1results{
    display: table;
    .ant-row{
        display: table-row;
        background: rgba(255, 49, 49, 0.24);
        svg{
            max-width:90%;
            transition: opacity 2s;
        }
        >div{
            display: table-cell;
            vertical-align: middle;
            padding:10px; 
            box-sizing: border-box;
            border-top: 1px solid black;
            &:first-child{
                width: 33%;
                p {
                    text-align: center;
                    font-weight: bold;
                    margin-top:-10px;
                }
            }
            &:last-child{
                width: 67%;
            }

        }
    }
    .winner{
        background: rgba(54, 255, 62, 0.1);
        svg{
            opacity:.1;
        }
    }
    .winner{
        svg{
            opacity:.1;
        }
    }
    .former-winner{
        animation: redify 2s;
        animation-fill-mode: forwards;

        svg{
            animation: fadein 2s;
            animation-fill-mode: forwards;
        }
    }
    @keyframes fadein {
        from { 
            opacity: .1;
        }
        to { 
            opacity: 1; 
        }
    }
    @keyframes redify {
        from { 
            background: rgba(54, 255, 62, 0.1);
        }
        to { 
            background: rgba(255, 49, 49, 0.24);
        }
    }
}

.trades{
    margin-top:-20px;
    h1,h2,h3,h4,h5{
        text-align: center;
        color:white;
    }
    color:white;

    &.danger{
        background: #ba1b1b
    }

    &.warning{
        background: #ffa400
    }

    &.success{
        background: #16591f
    }
    .propose-block{
        background: rgba(255, 255, 255, 0.75);
        padding: 10px;
        margin-top: 25px;
        margin-bottom:70px; 
        box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
        color: black; 
        label{
            text-align: center;
            margin: 10px 0 30px !important;
        }
    }
}

.role-trades{
    padding: 0 10px 35px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
    border: 1px solid rgba(0, 187, 255, 0.64);
    padding-bottom:25px;
    transition: 1s border;
    label:not(.ant-radio-button-wrapper){
        text-align: center;
        display: block;
        font-weight: normal;
        font-size: 1em;
        >span{
            margin-left:10px;
        }
    }

}
.main-chart{
    background: #fff;
    padding: 10px 0;
    margin: 25px 0 20px -15px;
    label{
        text-align: center;
        margin: 0 0 5px !important;
    }
}

//modal styles
.ant-modal{
    .ant-modal-close{display: none}
    font-size:2em;
    p, label{font-size:250%; line-height:1.8em;}
    .ant-modal-title{
        font-size: 110%;
        line-height: normal;
    }

    label{font-weight: 700}
    h1{font-size: 350%}
    h2{font-size: 320%}
    h3{font-size: 290%}
    h4{font-size: 260%}
    &.victory-modal{
        .anticon-trophy{
            font-size: 37em;
            display: block;
            margin: 75px auto;
        }
    }
}

.ant-input{
    font-size:200%;
    padding:30px 10px;
}
textarea.ant-input{
    padding:10px 15px;
}
.select-wrapper{

    select {
        /* General styling */
        height: 60px;
        width: 100px;
        border-radius: 0;
        padding-left: 10px;
    
        /* Removes the default <select> styling */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: 30px;
        background: #FAFAFA;
        border:none;
        option{
            font-size: 16px;
            background: #FAFAFA;
            &:hover{
                background: blue;
                color:white;
            }
        }
    
    }
    &::after{
        content: "";
        position: absolute;
        z-index: 2;
        right: 18px;
        margin-top: 21px;
        height: 0;
        width: 0;
        border-top: 12px solid #3366cc;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        pointer-events: none;
    }
}
.ant-btn:not(.small-button):not(.game-button){
    font-size: 45px;
    padding: 0 20px 72px;
}