@import '~antd/dist/antd.css';
@import './chart.scss';

$breakPoint: 100em;

.has-button .ant-card-extra {
    padding: 9.5px 0;
}
.ant-btn{
    margin-right: 8px;
}
.ant-card{
    margin-bottom:10px;
}

body{
    padding:0;
    margin:0;
    background: #fff;  
}

/** MOBILE FIRST FONT SIZES **/
html{font-size:100%;} 
@media(min-width: $breakPoint){html{font-size: 100%}}
body{font-size: 16px;}
p, label{font-size:150%;line-height:1.5em;}
label{font-weight: 700}
h1{font-size: 250%}
h2{font-size: 220%}
h3{font-size: 190%}
h4{font-size: 160%}

/* chart tests */
.rv-xy-plot path{
    fill: none;
} 
.line-chart{
    position:relative;
    width: 100% !important;

    .rv-xy-plot__inner{
        float:left;
        position:relative;
    }

    &.rv-discrete-color-legend {
        position:absolute;
        left:700px;
        bottom:100px;
    }
}

.loginForm{
    display: flex;
}


/** MAIN GAME STYLES **/
.game-wrapper{
    .banner{
        display: flex;
        align-items: center;
        justify-content: center;
        height:100vh;
        background: rgba(0,0,0,.2);
        h1{
            font-size: 4em;
            color:white;
            text-align: center;
        }
    }
    .bottom-arrow{
        position: absolute;
        font-size: 5em;
        top: 79vh;
        color: white;
    }
    .home-content{
        padding-top:20px;
        background: white;
    }
    .role-selection{
        svg{
            margin:10px auto;
            display: block;
            max-width:400px;
        }
        .ant-row-flex{
            margin-bottom:45px;
        }
    }
}

.game-button{
    text-transform: uppercase;
    border: solid 2px black;
    color: black;
    padding:0 2em;
    height:3.2em;
    font-weight: 600;
    &:hover, &:focus {
        color: #fff;
        background-color: #000;
        border-color: #000;
    }
    &.block{
        display: block;
        margin:5px auto;
    }
}

.form-wrapper{
    padding:10px 25px;
    margin-bottom:25px;
    h1,h2,h3,h4,h5{
        text-align: center;
        padding:15px
    }
    &:nth-of-type(even){
        background: rgba(240, 240, 255, 0.26);
    }
}

/* MOBILE OVERRIDES FOR ANTD SELECT ELEMENT READABILITY */
@media(max-width: $breakPoint){
    body{
        font-size: 1.1em;
    }
    .ant-select-selection{
        font-size: 2.5em;
        height: 70px;
        padding-top: 4px;
    }
    .ant-select-selection__placeholder{
        height: 44px;
        line-height: normal;
    }
    .ant-select-dropdown-menu-item{
        font-size:2.5em;
        padding: 12px;
        line-height: 2.5em;
    }
}
