@import '~antd/dist/antd.css';
.has-button .ant-card-extra {
    padding: 9.5px 0;
}
.ant-btn{
    margin-right: 8px;
}
.ant-card{
    margin-bottom:10px;
}

body{
    padding:0;
    margin:0;
    background: #fff;  
}
.react-parallax-content [class^="ant-col-"] > div {
    background: rgba(255,255,255,.8);
    padding:10px;
}